<h1>新增餐廳</h1>

<%= form_for(Restaurant.new) do |form| %>

<form action="/restaurant_list" method="post">

  <input type="hidden"
    name="authenticity_token"
      value="<%= form_authenticity_token %>">

<label for="">抬頭</label><input type="text"> <br>
<label for="">地址</label><input type="text"> <br>
電話<input type="text"> <br>
email<input type="text"> <br>
<label for="">描述<textarea name="" id="" cols="30" rows="10"></textarea></label> <br>
<button>送出</button>  

<input type="submit" value="新增">
